#sectionParticipantes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px; 
    background-color: var(--offwhite); 
}



.Titulo__Particpantes {
    font-size: 40px;
    text-align: center;
    margin-top: 100px; 
    color: var(--azul-forte); 
    font-family: var(--fonte); 
}

.integrante {
    text-align: center;
    margin-bottom: 40px; 
    width: 300px; 
}

.integrante img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover; 
}

.integrante h3 {
    margin-bottom: 10px;
    color: var(--azul-escuro); 
    font-family: var(--fonte); 
}

.integrante p {
    margin-bottom: 5px;
    color: var(--cinza-fonte);
    font-family: var(--fonte); 
}

.integrante a {
    color: var(--azul-destaque);
    text-decoration: none;
}

.integrante a:hover {
    color: var(--azul-medio);
}

@media (max-width: 840px) {
    .Titulo__Particpantes{
        font-size: 22px;
    }
}