.MenuLateral__container {
    width: 250px;
    background-color: var(--azul-forte);
    padding: 20px;
    color: var(--branco);
}

.MenuLateral__container ul {
    list-style-type: none;
    padding: 0;
}

.MenuLateral__container li {
    margin-bottom: 16px;
}

.MenuLateral__container a {
    color: var(--branco);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.MenuLateral__container a.ativo {
    color: var(--azul-destaque);
}
