.faq {
    margin: 30px 57px;
}

.faq__titulo {
    position: relative;
    font-size: 38px;
    color: var(--cinza-fonte);
    font-weight: 400;
    padding-left: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.faq__titulo::before {
    content: "";
    position: absolute;
    left: 0;
    width: 8px;
    height: 100%;
    background-color: var(--azul-escuro);
}

.item-faq {
    border: 2px solid var(--cinza-medio);
    border-radius: 4px;
    overflow: hidden;
    border-left: none;
    border-right: none;
}

.pergunta-faq {
    background-color: var(--offwhite);
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--fonte);
    color: var(--cinza-fonte);
    font-weight: 100;
}


.resposta-faq {
    padding: 0 10px;
    background-color: var(--branco);
    color: var(--cinza-fonte);
    height: 0; /* Altura inicial 0 */
    overflow: hidden;
    transition: height 0.3s ease; /* Transição suave da altura */
}

.resposta-faq.aberto {
    height: auto; /* Altura ajustada automaticamente ao conteúdo */
}

.seta-faq {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--azul-destaque);
    transition: transform 0.3s ease;
    outline: none; 
}


.seta-faq:focus {
    outline: none;
}


.seta-faq.aberto {
    transform: rotate(180deg);
}


.seta-faq::before {
    content: "";
    display: none;
}

@media (max-width: 768px) {
    .faq {
        margin: 20px; /* Reduz as margens */
        width: calc(100% - 40px);
    }

    .faq__titulo {
        font-size: 28px; /* Reduz o tamanho da fonte do título */
        padding-left: 15px; /* Reduz o espaço para o retângulo */
        margin-bottom: 30px; /* Reduz a margem inferior */
    }

    .faq__titulo::before {
        width: 6px; /* Reduz a largura do retângulo */
    }

    .item-faq {
        margin-bottom: 15px; /* Reduz a margem inferior */
    }

    .pergunta-faq {
        padding: 8px; /* Reduz o padding */
        font-size: 16px; /* Reduz o tamanho da fonte da pergunta */
    }

    .resposta-faq {
        padding: 0; /* Reduz o padding */
        font-size: 14px; /* Reduz o tamanho da fonte da resposta */
    }

    .seta-faq {
        border-left: 5px solid transparent; /* Reduz o tamanho da seta */
        border-right: 5px solid transparent;
        border-top: 5px solid var(--azul-destaque);
    }
}