.Login__container {
    display: flex;
    flex-direction: row-reverse;
}

.Login__Img {
    width: 51%;
    height: auto;
}

.Login__conteudo {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 40px 120px;
    gap: 24px;
}

.Login__titulo {
    font-size: 24px;
    font-weight: bold;
}


.input-login {
    margin-bottom: 32px;
}

.Login__container__registrar{
    margin-top: 32px;
    display: flex;
    gap: 5px;
}

.senha__texto{
    display: flex;
    justify-content: space-between;
}

.input__ancora{
    text-decoration: none;
    color: var(--azul-forte);
}

.input__ancora:hover{
    color: var(--azul-destaque);
}


label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--cinza-medio);
    border-radius: 4px;
    box-sizing: border-box; 
    height: 53px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--azul-forte); 
    color: var(--branco);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    height: 56px;
}

button:hover {
    background-color: var(--azul-destaque); 
}

.error-message {
    color: red;
    margin-top: 10px;
}

@media (max-width: 840px) {
    .Login__container {
        flex-direction: column; 
    }

    .Login__Img {
        width: 100%; 
        height: auto;
    }

    .Login__conteudo {
        margin: 20px; 
    }

    .Login__titulo {
        font-size: 20px; 
    }

    .Login__conteudo p {
        font-size: 16px; 
    }

    .input-login {
        margin-bottom: 20px; 
    }

    .senha__texto {
        flex-direction: column; 
        align-items: flex-start;
    }

    .input__ancora {
        font-size: 14px; 
        margin-top: 5px; 
    }

    .Login__container__registrar {
        margin-top: 20px; 
        font-size: 14px; 
    }

    .Login__Img {
        display: none;
      }
}