.Login__container {
    display: flex;
    flex-direction: row-reverse;
}

.Login__Img {
    width: 51%;
    height: auto;
}

.Login__conteudo {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 40px 120px;
    gap: 24px;
}

.Login__titulo {
    font-size: 24px;
    font-weight: bold;
}


.input-login {
    margin-bottom: 32px;
}

.Login__container__registrar{
    margin-top: 32px;
    display: flex;
    gap: 5px;
}

.senha__texto{
    display: flex;
    justify-content: space-between;
}

.input__ancora{
    text-decoration: none;
    color: var(--azul-forte);
}

.input__ancora:hover{
    color: var(--azul-destaque);
}


label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--cinza-medio);
    border-radius: 4px;
    box-sizing: border-box; /* Garante que o padding não afete a largura total */
    height: 53px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--azul-forte); /* Certifique-se de definir esta variável */
    color: var(--branco);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    height: 56px;
}

button:hover {
    background-color: var(--azul-destaque); /* Cor para o hover, ajuste se necessário */
}

.error-message {
    color: red;
    margin-top: 10px;
}

@media (max-width: 840px) {
    .Login__container {
        flex-direction: column; /* Empilha a imagem e o conteúdo verticalmente */
    }

    .Login__Img {
        width: 100%; /* Imagem ocupa a largura total da tela */
        height: auto;
    }

    .Login__conteudo {
        margin: 20px; /* Reduz as margens do conteúdo */
    }

    .Login__titulo {
        font-size: 20px; /* Reduz o tamanho do título */
    }

    .Login__conteudo p {
        font-size: 16px; /* Reduz o tamanho do texto */
    }

    .input-login {
        margin-bottom: 20px; /* Reduz a margem inferior dos inputs */
    }

    .senha__texto {
        flex-direction: column; /* Empilha o label e a âncora verticalmente */
        align-items: flex-start; /* Alinha o label e a âncora à esquerda */
    }

    .input__ancora {
        font-size: 14px; /* Reduz o tamanho da fonte da âncora */
        margin-top: 5px; /* Adiciona margem superior à âncora */
    }

    .Login__container__registrar {
        margin-top: 20px; /* Reduz a margem superior */
        font-size: 14px; /* Reduz o tamanho da fonte */
    }

    .Login__Img {
        display: none; /* Esconde a imagem na responsividade */
      }
}