.HeaderDashboard {
    width: 100%;
    height: 130px;
    background-color: var(--offwhite);
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    align-items: center; /* Alinha verticalmente os itens */
    justify-content: space-between;
}

.HeaderDashboard__Logo {
    width: 17rem;
    height: 5rem;
}

.HeaderDashboard__Nav {
    display: flex;
    flex: 1; 
    padding-left: 58%; /* Ajuste conforme necessário */
}

.HeaderDashboard__Link {
    margin: 0 15px;
    color: var(--azul-forte);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    transition: color 0.3s, text-decoration 0.3s;
}

.HeaderDashboard__Link:hover {
    color: #0056b3;
    text-decoration: overline;
}

.HeaderDashboard__Separator {
    width: 2px;
    height: 80px; /* Ajuste a altura da barra de separação */
    background-color: var(--cinza-medio); 
    margin: 0 20px; /* Ajuste o espaçamento ao redor do separador */
}

.HeaderDashboard__UserSection {
    display: flex;
    align-items: center;
    gap: 10px;
}

.HeaderDashboard__UserName {
    font-size: 18px;
    font-weight: 400;
}

.HeaderDashboard__Logout {
    background-color: transparent;
    border: 2px solid var(--azul-forte);
    padding: 6px 12px;
    border-radius: 5px;
    color: var(--azul-forte);
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.HeaderDashboard__Logout:hover {
    background-color: var(--azul-forte);
    color: var(--offwhite);
}
