.Header {
    width: 100%;
    height: 130px;
    background-color: var(--offwhite);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header__Logo {
    width: 17rem;
    height: 5rem;
}

.Header__Nav {
    display: flex;
    flex: 1;
    padding-left: 27.5rem;
    transition: transform 0.3s ease;

}

.Header__Link {
    margin: 0 15px;
    color: var(--azul-forte);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    transition: color 0.3s, text-decoration 0.3s;
}

.Header__Link:hover {
    color: #0056b3;
    text-decoration: overline;
}

.Header__Login {
    background-color: transparent;
    border: 2px solid var(--azul-forte);
    padding: 6px 12px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--azul-forte);
    font-weight: 400;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

.Header__Login:hover {
    background-color: var(--azul-forte);
    color: var(--offwhite);
}

.Header__Separator {
    width: 2px;
    height: 80px;
    background-color: var(--cinza-medio);
    margin: 0 20px;
}


.Header__MenuToggle {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
    outline: none;
}

.Header__MenuIcon {
    width: 30px;
    height: 2px;
    background-color: var(--azul-forte);
    position: relative;
}

.Header__MenuIcon::before,
.Header__MenuIcon::after {
    content: "";
    width: 30px;
    height: 2px;
    background-color: var(--azul-forte);
    position: absolute;
    left: 0;
    transition: 0.3s;
}

.Header__MenuIcon::before {
    top: -8px;
}

.Header__MenuToggle:focus {
    outline: none;
}

.Header__MenuIcon::after {
    top: 8px;
}

.Header__Nav--aberto {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    background-color: var(--offwhite);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Header__MenuToggle.Header__MenuToggle--aberto .Header__MenuIcon {
    background-color: transparent;
}

.Header__MenuToggle.Header__MenuToggle--aberto .Header__MenuIcon::before {
    transform: rotate(45deg);
    top: 0;
}

.Header__MenuToggle.Header__MenuToggle--aberto .Header__MenuIcon::after {
    transform: rotate(-45deg);
    top: 0;
}


@media (max-width: 840px) {
    .Header__Nav {
        display: none;
    }

    .Header__Logo {
        width: auto;
        height: auto;
        margin-right: 40px;
    }

    .Logo {
        width: 120px;
        height: auto;

    }

    .Header__Login {
        font-size: 10px;
        padding: 3px 6px;
        white-space: nowrap;
    }



    .Header__MenuToggle {
        display: flex;
        align-items: center;
    }

    .Header {
        width: 100%;
        height: 85px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .Header__Separator {
        display: none;
    }

    .Header__Nav--aberto {
        display: flex;
    }

    .Header__Nav--aberto .Header__Link {
        margin: 10px 0;
        text-align: center;
    }
}