.Header {
    width: 100%;
    height: 130px;
    background-color: var(--offwhite);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    /* Alinha verticalmente os itens */
    justify-content: space-between;
    position: relative;
    /* Adiciona o contexto para o menu hambúrguer */
}

.Header__Logo {
    width: 17rem;
    height: 5rem;
}

.Header__Nav {
    display: flex;
    flex: 1;
    padding-left: 27.5rem;
    transition: transform 0.3s ease;

    /* Transição para o menu hambúrguer */
}

.Header__Link {
    margin: 0 15px;
    color: var(--azul-forte);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    transition: color 0.3s, text-decoration 0.3s;
}

.Header__Link:hover {
    color: #0056b3;
    text-decoration: overline;
}

.Header__Login {
    background-color: transparent;
    border: 2px solid var(--azul-forte);
    padding: 6px 12px;
    /* Ajustado para um padding mais consistente */
    border-radius: 5px;
    text-decoration: none;
    color: var(--azul-forte);
    font-weight: 400;
    font-size: 18px;
    /* Ajusta o tamanho da fonte para estar em linha com outros links */
    transition: background-color 0.3s, color 0.3s;
}

.Header__Login:hover {
    background-color: var(--azul-forte);
    color: var(--offwhite);
    /* Ajusta a cor do texto no hover */
}

.Header__Separator {
    width: 2px;
    height: 80px;
    /* Ajuste a altura da barra de separação */
    background-color: var(--cinza-medio);
    margin: 0 20px;
    /* Ajuste o espaçamento ao redor do separador */
}

/* Estilos para o menu hambúrguer */
.Header__MenuToggle {
    display: none;
    /* Oculta o botão por padrão */
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
    /* Garante que o botão fique acima dos outros elementos */
}

.Header__MenuIcon {
    width: 30px;
    height: 2px;
    background-color: var(--azul-forte);
    position: relative;
}

.Header__MenuIcon::before,
.Header__MenuIcon::after {
    content: "";
    width: 30px;
    height: 2px;
    background-color: var(--azul-forte);
    position: absolute;
    left: 0;
    transition: 0.3s;
}

.Header__MenuIcon::before {
    top: -8px;
}

.Header__MenuIcon::after {
    top: 8px;
}

.Header__Nav--aberto {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 130px;
    /* Ajusta a posição abaixo do cabeçalho */
    left: 0;
    width: 100%;
    background-color: var(--offwhite);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para dispositivos móveis */
@media (max-width: 840px) {
    .Header__Nav {
        display: none;
        /* Oculta a navegação padrão em dispositivos móveis */
    }

    .Header__Logo {
        width: auto;
        height: auto;
        margin-right: 40px; /* Adiciona margem direita à logo */
    }

    .Logo{
        width: 120px;
        height: auto;
    
    }

    .Header__Login {
        font-size: 10px;
        padding: 3px 6px;
        /* margin-left: auto; */ /* Remove a margem esquerda do botão */
        white-space: nowrap;
    }

    

    .Header__MenuToggle {
        display: flex;
        align-items: center;
    }

    .Header {
        width: 100%;
        height: 85px;
        display: flex;
        flex-direction: row; /* Mantém a ordem dos elementos (logo, menu, botão) */
        justify-content: space-between; /* Distribui o espaço entre os elementos */
        align-items: center;
        text-align: center;
    }

    .Header__Separator {
        display: none;
    }

    .Header__Nav--aberto {
        display: flex;
        /* Mostra o menu hambúrguer quando aberto */
    }

    .Header__Nav--aberto .Header__Link {
        margin: 10px 0;
        text-align: center;
    }
}