/* src/components/Dashboard/NotificacoesAlertas.css */
.CardNotificacoesAlertas {
    background-color: var(--branco); /* Igual aos outros cards */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Igual aos outros cards */
    width: 100%;
    text-align: center;
}

.CardNotificacoesAlertas h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.CardNotificacoesAlertas p {
    margin-bottom: 20px;
    color: var(--cinza-escuro);
}

.CardNotificacoesAlertas .btn {
    background-color: var(--azul-forte);
    color: var(--branco);
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.CardNotificacoesAlertas .btn:hover {
    background-color: var(--azul-destaque);
}
